@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Rubik:ital,wght@0,300;0,500;0,700;0,800;1,300;1,500&display=swap');
@import url('../lib/fontawesome-free-6.0.0-web/css/all.min.css');

html {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primaryColor);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--primaryColor);
    border-radius: 100rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--txtColor);
    border-radius: 100rem;
}

:root {
    --primaryColor: #021c1e;
    --txtColor: #6fb98f;
    --txtColorDesc: #2c7873;
    --txtWhiteColor: #fff;
}

.lightmode {
    --primaryColor: #E9E5D6;
    --txtColor: #464E2E;
    --txtColorDesc: #362706;
    --txtWhiteColor: #ACB992;
}

@keyframes flicker {
    0% {
        border-color: #2c7873;
    }
    50% {
        border-color: #fff;
    }
    100% {
        border-color: red;
    }
}