@media only screen and (max-width: 575px) {
    .header {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .title {
        line-height: 2em;
    }

    .home {
        width: 350px;
        margin: 0 auto;
        flex-flow: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home-title {
        font-size: 1em;
    }

    .home-img {
        width: 70%;
    }

    .work {
        width: 350px;
        margin: 0 auto;
    }

    .work-title {
        justify-content: center;
    }

    .work-list {
        width: 100%;
        flex-wrap: wrap;
        
    }

    .work-item {
        width: 100%;
        margin-top: 24px;
        text-align: center;
    }

    .skill {
        width: 350px;
        margin: 0 auto;
        padding-top: 1em;
    }

    .skill-title {
        text-align: center;
    }

    .skill-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .skill-item {
        width: 100%;
    }

    .footer {
        width: 350px;
        align-items: center;
    }

    .menu {
        bottom: 0.1%;
    }
}


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) { 
    .header {
        width: 580px;
        margin: 0 auto;
    }

    .home {
        width: 580px;
        margin: 0 auto;
        flex-flow: column-reverse;
        align-items: center;
        text-align: center;
    }

    .home-title {
        font-size: 2em;
    }

    .home-img {
        width: 80%;
    }

    .work {
        width: 580px;
        margin: 0 auto;
    }

    .work-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .work-item {
        width: 100%;
    }

    .skill {
        width: 580px;
        margin: 0 auto;
        padding-top: 1.5em;
    }

    .skill-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .skill-item {
        width: 50%;
    }

    .footer {
        width: 350px;
        align-items: center;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .header {
        width: 780px;
        margin: 0 auto;
    }

    .home {
        width:780px;
        margin: 0 auto;
    }

    .home-title {
        font-size: 2em;
    }

    .work {
        width:780px;
        margin: 0 auto;
    }

    .skill {
        padding-top: 1em;
        width:780px;
        margin: 0 auto;
    }

    .skill-list {
        width: 100%;
        flex-wrap: wrap;
    }

    .skill-item {
        width: 33%;
    }

    .footer {
        width: 780px;
        margin: 0 auto;
    }
}

/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){ 
    .header {
        width: 1024px;
        margin: 0 auto;
    }

    .home {
        width: 1024px;
        margin: 0 auto;
    }

    .work {
        width: 1024px;
        margin: 0 auto;
    }

    .skill {
        width: 1024px;
        margin: 0 auto;
    }

    .footer {
        width: 1024px;
        margin: 0 auto;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    .header {
        width: 1280px;
        margin: 0 auto;
    }

    .home {
        width: 1280px;
        margin: 0 auto;
    }

    .work {
        width: 1280px;
        margin: 0 auto;
    }

    .skill {
        width: 1280px;
        margin: 0 auto;
    }

    .footer {
        width: 1280px;
        margin: 0 auto;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) { 
    .header {
        width: 1444px;
        margin: 0 auto;
    }

    .home {
        width: 1444px;
        margin: 0 auto;
    }

    .work {
        width: 1444px;
        margin: 0 auto;
    }

    .skill {
        width: 1444px;
        margin: 0 auto;
    }

    .footer {
        width: 1440px;
        margin: 0 auto;
    }
}